@font-face {
  font-family: 'rte-icon';
  src:  url('fonts/rte-icon.eot?o3hdmz');
  src:  url('fonts/rte-icon.eot?o3hdmz#iefix') format('embedded-opentype'),
    url('fonts/rte-icon.ttf?o3hdmz') format('truetype'),
    url('fonts/rte-icon.woff?o3hdmz') format('woff'),
    url('fonts/rte-icon.svg?o3hdmz#rte-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rte-icon-"], [class*=" rte-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rte-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rte-icon-bold:before {
  content: "\e90b";
}
.rte-icon-italic:before {
  content: "\e90a";
}
.rte-icon-underline:before {
  content: "\e909";
}
.rte-icon-strikethrough:before {
  content: "\e908";
}
.rte-icon-list-ordered:before {
  content: "\e902";
}
.rte-icon-list-unordered:before {
  content: "\e903";
}
.rte-icon-text-align-left:before {
  content: "\e906";
}
.rte-icon-text-align-center:before {
  content: "\e904";
}
.rte-icon-text-align-right:before {
  content: "\e907";
}
.rte-icon-text-align-justify:before {
  content: "\e905";
}
.rte-icon-quotes-right:before {
  content: "\e900";
}
.rte-icon-code:before {
  content: "\e901";
}
.rte-icon-link:before {
  content: "\e90c";
}
.rte-icon-image:before {
  content: "\e90d";
}
